<div class="upload-photo">
    <form action="#">
        <label for="uploadImg">
            <img src="assets/img/illustration/photo.png" alt="">
            <div>
                <strong>Upload photo or drag and drop</strong><br>
                <small>Please upload at least 2 photos</small>
            </div>
        </label>
        <input type="file" id="uploadImg" name="uploadImg" accept="image/*">
    </form>
    <div class="photo-area">
        <ul>
            <li><img src="assets/img/wall/1.png" alt=""></li>
            <li><img src="assets/img/wall/1.png" alt=""></li>
        </ul>
    </div>
    <div class="main-btn">
        <button>Submit</button>
    </div>
</div>